#appContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 0;
}

#topbar {
  background-color: #dbdbdb;
  padding: 20px;
}

#mainpage {
  padding: 20px;
}

.graphContainer {
  min-width: 0;
  flex: 1;
}
